#game-container {
  position: relative;
  background-image: url("./assets/TEST7B.bmp");
  width: 100vw;
  height: 100vh;
  background-size: cover;
background-repeat: no-repeat;
background-position: -64px -20px;
}

#root {
  width: 100%;
  height: 100%;
}

#player {
  width: 32px;
  height: 32px;
  background-position: -64px -10px;
}

.container {
  width: 32px;
  height: 32px;
  background-image: url("./assets/Rickettz.png");

}