#game-container {
  position: relative;
  background-image: url("./assets/background.webp");
  width: 1792px;
  height: 1024px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  z-index: 0;
  
}

#root {
  width: 100%;
  height: 100%;
}

#player {
  width: 32px;
  height: 32px;
  background-position: -64px -10px;
}

.container {
  width: 32px;
  height: 32px;
  background-image: url("./assets/Rickettz.png");
}

#rockOne {
  background-image: url("./assets/rocks.png");
}